/*para animações */
@keyframes load{
    to{transform: rotate(360deg);}
}

.pre{
    width: 80px;
    height: 80px;
    background-image: url('../img/load.png');
    background-size: contain;
    animation: load 2s infinite linear;
}

.box-load{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ocultar a div onde esta o conteudo ate terminar de carega a pagina */
.main-wrapper{
    display: none;
}